@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dollarInput {
  // place a dollar sign on left side of input
    &::before {
        content: '$';
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
    }
    
}